<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Our Work | ShilpFab</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
	<link rel="stylesheet" type="text/css" href="css/owl-carousel/owl.carousel.min.css">
	<link rel="stylesheet" type="text/css" href="css/owl-carousel/owl.theme.default.min.css">

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/script.js"></script>
	<script type="text/javascript" src="js/owl.carousel.min.js"></script>
</head>
<body>
	<div class="main-wrapper">
		
		<header class="header">
			<div class="left-section">
				<div class="logo">
					<a href="index.html">
						<img src="images/logo.png" alt="logo">
					</a>
				</div>
			</div>
			<nav class="nav-section">
				<ul>
					<li><a href="index.html" class="nav-link">Home</a></li>
					<li><a href="our-work.html" class="nav-link">Our Work</a></li>
					<li><a href="about-us.html" class="nav-link">About Us</a></li>
					<li><a href="contact-us.html" class="nav-link">Contact Us</a></li>
					<!-- <li><a href="#" class="btn-primary">Get In Touch</a></li> -->
				</ul>
			</nav>
		</header>

		<div class="small-hero-banner contact-banner">
			<div class="container">
				<h1>Our Works</h1>
				<p>ShilpFab is ready to provide you fabric mould according to your needs</p>
			</div>
		</div>

		<div class="product-list-section">
			<div class="container">
				<div class="product-list-wrapper">
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">R E Well Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">Cross Breyer Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">R E Well Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">Friction Slab With Cross Beryer</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">R E Well Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">Cross Breyer Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">R E Well Mould</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
					<div class="product-box">
						<div class="img-wrapper">
							<img src="images/service-01.jpg" alt="service">
						</div>
						<div class="service-content-wrapper">
							<h2 class="service-name">Friction Slab With Cross Beryer</h2>
							<p>Rajkot Vadinar Project L & T</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<footer>
			<div class="container">
				<div class="left-section">
					<img src="images/logo.png" alt="logo" class="logo">
					<p class="highlight-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					<div class="social-links">
						<ul>
							<li><a href="#"><img src="images/facebook.svg"></a></li>
							<li><a href="#"><img src="images/whatsapp.svg"></a></li>
						</ul>
					</div>
				</div>
				<div class="useful-links">
					<h6 class="links-label">Company Links</h6>
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Our Works</a></li>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Contact Us</a></li>
					</ul>
				</div>
				<div class="services-links">
					<h6 class="links-label">Our Services</h6>
					<ul>
						<li>R E Well Mould</li>
						<li>Cross breyer mould</li>
						<li>Friction slab with cross beryer</li>
						<li>Bountry wall collam mould</li>
					</ul>
				</div>
				<div class="connect-links">
					<h6 class="links-label">Say Hello!</h6>
					<ul>
						<li>
							<!-- <p>Have any Questions ?</p> -->
							<div class="links-icons"><img src="images/phone.svg" alt="phone"></div>
							<a href="tel:+911234567890">+91 98258 21951</a>
						</li>
						<li>
							<!-- <p>Get in touch with us</p> -->
							<div class="links-icons"><img src="images/email.svg" alt="email"></div>
							<a href="mailto:test@gmail.com">test@gmail.com </a>
						</li>
						<li>
							<!-- <p>You can find us at</p> -->
							<div class="links-icons"><img src="images/pin.svg" alt="location"></div>
							<address>D-107/A, Almighty Gate, GIDC Lodhika, Metoda, Metoda, Gujarat 360021</address>
						</li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom">
				<p>© 2025 <strong>ShilpFab</strong>. All Rights Reserved.</p>
			</div>
		</footer>

	</div>
</body>
</html>