<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>ShilpFab | Typography</title>

	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
</head>
<body>
	<div class="main-wrapper">
		
		<header class="header">
			<div class="left-section">
				<div class="logo">
					<img src="images/logo.png">
				</div>
			</div>
			<nav class="nav-section">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">Our Work</a></li>
					<li><a href="#">About Us</a></li>
					<li class="btn-contact"><a href="#">Contact Us</a></li>
				</ul>
			</nav>
		</header>

		<div>
			<div class="container">
				<h1>H1 text here...</h1>
				<h2>h2 text here...</h2>
				<h3>h3 text here...</h3>
				<h4>h4 text here...</h4>
				<h5>h5 text here...</h5>
				<h6>h6 text here...</h6>

				<hr>

				<p>lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch  lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch  lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch  lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch  lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch  lorem ipsum dummy text here shilpfab location rajkot ahmedabad morbi surat baroda mumbai kutch </p>

				<hr>

				<button class="btn-primary">Primary Button</button>
			</div>
		</div>
	</div>
</body>
</html>